@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
:root {
  --yellow: #ffc200;
  --black: #212121;
  --gray: #5b5b5b;
  --background: #f0f0f0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Maven Pro', sans-serif;
  line-height: 1.5;
}
img,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}
button {
  border: none;
  cursor: pointer;
}
textarea {
  resize: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  margin: 0;
}
.container {
  width: min(80%, 60rem);
  margin-inline: auto;
}

.icon {
  width: 48px;
  aspect-ratio: 1/1;
}
.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5rem;
  font-weight: bold;
}
.main-nav__icon {
  display: flex;
  align-items: center;
}
.main-nav__hamburger {
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 0;
  position: relative;
  grid-column: 2/3;
  grid-row: 1;
  align-self: center;
  justify-self: end;
}
.hamburger__line {
  position: absolute;
  background-color: var(--black);
  height: 2px;
  width: 90%;
  transform: translate(-50%, 0);
}
.hamburger__line--first {
  transform: translate(-50%, -0.5rem);
}
.hamburger__line--third {
  transform: translate(-50%, 0.5rem);
}
.main-nav__list {
  display: none;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  color: var(--gray);
}
.main-nav__list.open {
  display: flex;
}
.main-nav__list__item {
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.main-nav__list__item:hover {
  color: var(--yellow);
}
@media (min-width: 480px) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    grid-column: 2/3;
    justify-self: end;
  }
  .main-nav__hamburger {
    display: none;
  }
}
.hero {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__title {
  font-size: clamp(2.5rem, 10vw, 4rem);
  margin: 1rem;
}
.hero__text {
  font-size: clamp(1rem, 3vw, 1.4rem);
  margin-bottom: 4rem;
  color: var(--gray);
}
.btn {
  display: inline-block;
  background-color: var(--yellow);
  padding: 1em 2em;
  border-radius: 0.5em;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.btn:hover,
.btn:focus {
  scale: 1.1;
  translate: 0 -5%;
}
.hero__credit {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0.5rem;
}
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

  column-gap: 1rem;
  row-gap: 0.5rem;
}
.skills__title {
  grid-column: 1/-1;
}
.skills__skill {
  display: grid;
  justify-items: center;
  align-items: start;
  box-shadow: var(--gray) 3px 3px 6px;
  padding: 0.5em;
  border-radius: 1em;
  transition: scale 0.1s ease-in-out;
}
.skills__skill:hover {
  scale: 1.1;
}
.skills__skill span {
  color: var(--gray);
}
.about__text {
  color: var(--gray);
}

@media (min-width: 900px) {
  .about {
    display: flex;
    gap: 1rem;
  }
  .about > * {
    flex: 1;
  }
  .about__text {
    line-height: 1.7;
  }
}
.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project__description {
  margin: 0;
}

@media (min-width: 900px) {
  .project__card {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 3em;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.form__group > label {
  margin-bottom: 0.5em;
  display: inline-block;
  color: var(--gray);
}
.form__input {
  background-color: var(--background);
  border-radius: 0.5em;
  border: none;
  padding: 1.4em;
}
.form__input:focus {
  outline: none;
}
